body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.Stage {
  position: relative;
}

.Next {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}

.Grid {
  display: flex;
}

.Column {
  display: flex;
  flex-direction: column;
}

.Cell {
  position: relative;
  transition: transform 500ms;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.Log {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.5rem;
  z-index: 1;
  background-color: white;
  color: black;
  border-radius: 1px;
  letter-spacing: 0.03rem;
  padding: 0.33rem 0.5rem;
  mix-blend-mode: difference;
  text-align: right;
}
